.header {
  width: 100%;
  height: 30px;
  background: #666666;
  line-height: 30px; }
  .header .nav1 a {
    color: #fff;
    margin-right: 30px; }
  .header .nav1 .f-r {
    height: 30px; }
    .header .nav1 .f-r a {
      margin-right: 0px;
      margin-left: 30px; }

.bg {
  background: #fff; }

.top {
  background: #fff;
  height: 80px;
  color: #b1b1b1;
  line-height: 80px;
  font-size: 12px; }
  .top .logo {
    margin-right: 30px;
    margin-top: 10px;
    height: 30px; }
  .top a {
    margin: 0 20px;
    font-size: 14px; }
  .top .QR {
    margin-top: 14px;
    height: 60px; }
  .top .search {
    margin-top: 25px;
    width: 310px;
    height: 30px;
    border: 1px solid #8a8a8a;
    margin-right: 100px; }
    .top .search input {
      margin-left: 10px;
      height: 29px;
      outline: none;
      width: 260px;
      border: none;
      background: none; }
    .top .search .search-btn {
      font-size: 18px;
      width: 30px;
      height: 30px;
      background: #666666;
      line-height: 26px;
      text-align: center;
      color: #fff;
      cursor: pointer; }

.main .main-right {
  width: 265px; }
  .main .main-right .contribute {
    height: 375px; }
    .main .main-right .contribute .title {
      width: 100px;
      height: 30px;
      border-radius: 4px;
      background: #6663ab;
      text-align: center;
      line-height: 30px;
      color: #fff;
      margin: 20px auto;
      border: 1px solid #afadd1;
      cursor: pointer; }
    .main .main-right .contribute .detail {
      cursor: pointer;
      color: #6663ab;
      background: #ededf9;
      width: 80px;
      height: 30px;
      border-radius: 4px;
      font-size: 14px;
      text-align: center;
      line-height: 30px;
      margin: 10px 5px; }
    .main .main-right .contribute .detail:nth-child(5),
    .main .main-right .contribute .detail:nth-child(8),
    .main .main-right .contribute .detail:nth-child(11),
    .main .main-right .contribute .detail:nth-child(14),
    .main .main-right .contribute .detail:nth-child(17) {
      margin-right: 0px; }
    .main .main-right .contribute .detail:nth-child(3),
    .main .main-right .contribute .detail:nth-child(6),
    .main .main-right .contribute .detail:nth-child(9),
    .main .main-right .contribute .detail:nth-child(12),
    .main .main-right .contribute .detail:nth-child(15) {
      margin-left: 0px; }
  .main .main-right .hot {
    border: 1px solid #cccccc;
    padding-bottom: 20px;
    background: #fff; }
    .main .main-right .hot .title {
      width: auto;
      padding: 0 20px;
      height: 30px;
      background: #b2b2b2;
      color: #fff;
      line-height: 30px; }
      .main .main-right .hot .title a {
        color: #fff; }
    .main .main-right .hot .detail {
      cursor: pointer;
      font-size: 12px;
      color: #666666;
      height: 50px;
      line-height: 50px;
      width: auto;
      margin: 0 20px;
      border-bottom: 1px dashed #d9d9d9; }
.main .main-left {
  margin-top: 20px;
  background: #fff;
  padding: 18px 0;
  width: 875px; }
  .main .main-left .top {
    height: 31px;
    width: auto;
    border-bottom: 1px solid #ececec;
    padding: 0 18px; }
    .main .main-left .top .hot,
    .main .main-left .top .new {
      width: 75px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: #666666; }
    .main .main-left .top .hot.h,
    .main .main-left .top .new.h {
      color: #6663ab;
      border-bottom: 2px solid #6663ab; }
    .main .main-left .top .page {
      width: 100px;
      height: 30px; }
      .main .main-left .top .page .pageNum {
        height: 30px;
        line-height: 30px;
        color: #666666; }
      .main .main-left .top .page .backPage,
      .main .main-left .top .page .nextPage {
        border: 2px solid #d9d9d9;
        height: 18px;
        width: 18px;
        line-height: 18px;
        margin-top: 3px;
        text-align: center;
        cursor: pointer; }
      .main .main-left .top .page .nextPage {
        margin-left: 10px; }
  .main .main-left .content {
    width: auto;
    height: 70px;
    padding: 20px 18px 0px 18px;
    border-bottom: 1px dashed #ececec; }
    .main .main-left .content .hot {
      width: 30px;
      height: 100%;
      text-align: center;
      color: #666666;
      font-size: 14px;
      padding-top: 6px; }
    .main .main-left .content .party {
      width: 50px;
      height: 45px;
      padding-top: 5px;
      background: #6663ab;
      text-align: center;
      color: #fff;
      font-size: 14px;
      margin: 0 30px; }
    .main .main-left .content .c-main {
      width: 420px; }
      .main .main-left .content .c-main .writer,
      .main .main-left .content .c-main .time {
        color: #b2b2b2;
        font-size: 14px; }
      .main .main-left .content .c-main .time {
        margin-left: 100px; }
      .main .main-left .content .c-main .m-detail {
        margin-top: 12px;
        font-size: 14px;
        color: #666666; }
    .main .main-left .content .about {
      width: 270px;
      margin-top: 15px; }
      .main .main-left .content .about .detail {
        cursor: pointer;
        color: #6663ab;
        background: #ededf9;
        width: 80px;
        height: 30px;
        border-radius: 4px;
        font-size: 14px;
        text-align: center;
        line-height: 30px;
        margin: 10px 5px; }
  .main .main-left .content.h {
    background: #f7f7f7; }
  .main .main-left .pages {
    font-size: 14px;
    color: #666666;
    width: 950px;
    height: 30px;
    margin: 80px 0 330px 190px; }
    .main .main-left .pages .back,
    .main .main-left .pages .next {
      width: 60px;
      height: 30px;
      border: 1px solid #d9d9d9;
      line-height: 30px;
      text-align: center; }
    .main .main-left .pages .num {
      height: 30px;
      width: 30px;
      border: 1px solid #d9d9d9;
      line-height: 30px;
      text-align: center; }
    .main .main-left .pages .num:nth-child(2) {
      background: #6663ab;
      color: #fff; }
    .main .main-left .pages .num:nth-child(7) {
      border: none; }
    .main .main-left .pages .jumpPage {
      width: 150px;
      height: 20px;
      line-height: 30px; }
      .main .main-left .pages .jumpPage .jumpNum {
        margin-top: 5px;
        width: 30px;
        height: 100%;
        border: 1px solid #d9d9d9;
        position: relative; }
        .main .main-left .pages .jumpPage .jumpNum input {
          width: 19px;
          height: 20px;
          outline: none;
          border: none;
          position: absolute;
          left: 0; }
        .main .main-left .pages .jumpPage .jumpNum .numTop {
          position: absolute;
          top: 0px;
          right: 0; }
        .main .main-left .pages .jumpPage .jumpNum .numBottom {
          position: absolute;
          bottom: 0;
          right: 0; }
        .main .main-left .pages .jumpPage .jumpNum .numTop,
        .main .main-left .pages .jumpPage .jumpNum .numBottom {
          width: 10px;
          height: 10px;
          line-height: 10px;
          cursor: pointer;
          background: #e6e6e6;
          text-align: center; }
        .main .main-left .pages .jumpPage .jumpNum .numTop:hover,
        .main .main-left .pages .jumpPage .jumpNum .numBottom:hover {
          background: #b2b2b2;
          color: #666666; }
    .main .main-left .pages .btn {
      width: 40px;
      height: 20px;
      margin-top: 5px;
      border: 1px solid #d9d9d9; }
      .main .main-left .pages .btn input {
        background: none;
        border: none;
        outline: none;
        width: 40px; }

.footer {
  background: #333333;
  height: 350px;
  width: 100%;
  color: #6663ab; }
  .footer .f-main {
    width: 930px;
    margin: 0 auto;
    height: 275px; }
    .footer .f-main .call {
      color: #898989;
      margin-top: 85px;
      width: 146px;
      text-align: center;
      margin-right: 15px; }
      .footer .f-main .call a {
        font-size: 14px; }
    .footer .f-main ul {
      width: 160px;
      text-align: center;
      float: left;
      margin-top: 35px;
      font-size: 18px; }
      .footer .f-main ul li a {
        line-height: 35px;
        font-size: 14px; }
      .footer .f-main ul li:nth-child(1) {
        margin-top: 15px; }
    .footer .f-main .attention ul {
      width: 120px; }
    .footer .f-main .attention img {
      margin-top: 10px; }
  .footer .f-bottom {
    width: 310px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: #898989;
    line-height: 30px; }

/*# sourceMappingURL=community.css.map */
