.main {
  font-size: 14px;
  color: #666666; }
  .main .main-left {
    width: 798px;
    background: #fff;
    border: 1px solid #d7d7d7;
    margin-bottom: 215px;
    margin-top: 20px; }
    .main .main-left .title {
      width: auto;
      height: 35px;
      line-height: 35px;
      padding-left: 20px;
      background: #ededf9; }
    .main .main-left .content {
      height: 560px; }
      .main .main-left .content .msg1 .img, .main .main-left .content .msg2 .img, .main .main-left .content .msg3 .img {
        width: 32px;
        height: 32px;
        margin: 10px;
        border-radius: 50%;
        background: url(../images/chat1.png); }
      .main .main-left .content .msg1 .name, .main .main-left .content .msg2 .name, .main .main-left .content .msg3 .name {
        width: 650px;
        height: 25px;
        line-height: 25px;
        line-height: 20px;
        font-size: 12px; }
      .main .main-left .content .msg1 {
        margin-top: 25px;
        height: 80px;
        width: auto; }
        .main .main-left .content .msg1 .chat1 {
          padding: 0 10px;
          width: auto;
          height: 40px;
          border: 1px solid #f1f1f1;
          box-shadow: 2px 2px 1px #d2d2d2;
          line-height: 40px; }
      .main .main-left .content .msg2 {
        margin-top: 10px; }
        .main .main-left .content .msg2 .chat2 {
          height: auto;
          width: auto; }
          .main .main-left .content .msg2 .chat2 img {
            box-shadow: 0 0 8px #d2d2d2; }
      .main .main-left .content .msg3 {
        margin-top: 20px;
        width: 100%; }
        .main .main-left .content .msg3 .img {
          width: 32px;
          background: url(../images/chat2.png); }
        .main .main-left .content .msg3 .name {
          text-align: right; }
        .main .main-left .content .msg3 .chat3 {
          padding: 0 10px;
          width: auto;
          height: 40px;
          border: 1px solid #f1f1f1;
          box-shadow: 2px 2px 1px #d2d2d2;
          line-height: 40px;
          background: #ededf9; }
    .main .main-left .menu {
      line-height: 33px;
      width: auto;
      height: 33px;
      background: #f7f7f7;
      border-top: #d7d7d7;
      padding-left: 10px; }
      .main .main-left .menu .emotion, .main .main-left .menu .img, .main .main-left .menu .link, .main .main-left .menu .history {
        color: #b2b2b2;
        line-height: 33px;
        height: 33px;
        width: 35px;
        text-align: center;
        cursor: pointer; }
      .main .main-left .menu .history {
        margin-right: 10px;
        font-size: 18px; }
    .main .main-left .input {
      height: 150px; }
      .main .main-left .input textarea {
        outline: none;
        border: none;
        resize: none; }
  .main .main-right {
    margin-top: 20px;
    width: 359px;
    padding: 0 20px;
    height: 803px;
    border: 1px solid #d7d7d7;
    border-left: none;
    background: #fff; }
    .main .main-right .top {
      height: 41px;
      border-bottom: 2px solid #d9d9d9;
      margin-bottom: 20px; }
      .main .main-right .top .title {
        width: 75px;
        height: 40px;
        float: left;
        line-height: 40px;
        text-align: center;
        font-size: 14px;
        color: #666666;
        cursor: pointer; }
      .main .main-right .top .title.h {
        border-bottom: 2px solid #6663ab; }
    .main .main-right .content p {
      float: left;
      line-height: 45px;
      font-size: 14px;
      color: #666666;
      margin-right: 10px; }
    .main .main-right .content .label {
      cursor: pointer;
      color: #6663ab;
      background: #ededf9;
      width: 80px;
      height: 30px;
      border-radius: 4px;
      font-size: 14px;
      text-align: center;
      line-height: 30px;
      margin: 10px 5px;
      float: left; }

/*# sourceMappingURL=community-talk.css.map */
