.main{
    font-size: 14px;
    color: #666666;
    .main-left{
        width: 798px;
        background: #fff;
        border: 1px solid #d7d7d7;
        margin-bottom: 215px;
        margin-top: 20px;
        .title{
            width: auto;
            height: 35px;
            line-height: 35px;
            padding-left: 20px;
            background: #ededf9;
        }
        
        .content{
            height: 560px;
            .msg1,.msg2,.msg3{
                .img{
                    width: 32px;
                    height: 32px;
                    margin: 10px;
                    border-radius: 50%;
                    background: url(../images/chat1.png);
                }
                .name{
                    width: 650px;
                    height: 25px;
                    line-height: 25px;
                    line-height: 20px;
                    font-size: 12px;
                }
            }
            .msg1{
                margin-top: 25px;
                height: 80px;
                width: auto; 
                .chat1{
                    padding: 0 10px;
                    width: auto;
                    height: 40px;
                    border: 1px solid #f1f1f1;
                    box-shadow: 2px 2px 1px #d2d2d2;
                    line-height: 40px;
                    
                }
            }
            .msg2{
                margin-top: 10px;
                .chat2{
                    height: auto;
                    width: auto;
                    img{
//                      border: 1px solid #f1f1f1;
                    box-shadow: 0 0 8px #d2d2d2;  
                    }
                    
                }
            }
            .msg3{
                margin-top: 20px;
                width: 100%;
                .img{
                    width: 32px;
                    background: url(../images/chat2.png);
                }
                .name{
                   text-align: right;
                }
                .chat3{
                    padding: 0 10px;
                    width: auto;
                    height: 40px;
                    border: 1px solid #f1f1f1;
                    box-shadow: 2px 2px 1px #d2d2d2;
                    line-height: 40px;
                    background: #ededf9;
                }
            }
        }
        .menu{
            line-height: 33px;
            width: auto;
            height: 33px;
            background: #f7f7f7;
            border-top: #d7d7d7;
            padding-left: 10px;
            .emotion,.img,.link,.history{
                color: #b2b2b2;
                line-height: 33px;
                height: 33px;
                width: 35px;
                text-align: center;
                cursor: pointer;
            }
            .history{
                margin-right: 10px;
                font-size: 18px;
            }
        }
        .input{
            height: 150px;
            textarea{
                outline: none;
                border: none;
                resize: none;
            }
        }
    }
    .main-right{
        margin-top: 20px;
        width: 359px;
        padding:0 20px;
        height: 803px;
        border: 1px solid #d7d7d7;
        border-left: none;
        background: #fff;
        .top{
            height: 41px;
            border-bottom: 2px solid #d9d9d9;
            margin-bottom: 20px;
            .title{
                width: 75px;
                height: 40px;
                float:left;
                line-height: 40px;
                text-align: center;
                font-size: 14px;
                color: #666666;
                cursor: pointer;
            }
            .title.h{
                border-bottom: 2px solid #6663ab;
            }  
        }
        .content{
            p{
                float: left;
                line-height: 45px;
                font-size: 14px;
                color: #666666;
                margin-right: 10px;
            }
            .label{
                cursor: pointer;
                color: #6663ab;
                background: #ededf9;
                width: 80px;
                height: 30px;
                border-radius: 4px;
                font-size: 14px;
                text-align: center;
                line-height: 30px;
                margin: 10px 5px;
                float: left
            }
        }
    }
}