.header {
    width: 100%;
    height: 30px;
    background: #666666;
    line-height: 30px;
    .nav1 {
        a {
            color: #fff;
            margin-right: 30px;
        }
        .f-r {
            height: 30px;
            a {
                margin-right: 0px;
                margin-left: 30px;
            }
        }
    }
}

.bg {
    background: #fff;
}

.top {
    background: #fff;
    height: 80px;
    color: #b1b1b1;
    line-height: 80px;
    font-size: 12px;
    .logo {
        margin-right: 30px;
        margin-top: 10px;
        height: 30px;
    }
    a {
        margin: 0 20px;
        font-size: 14px;
    }
    .QR {
        margin-top: 14px;
        height: 60px;
    }
    .search {
        margin-top: 25px;
        width: 310px;
        height: 30px;
        border: 1px solid #8a8a8a;
        margin-right: 100px;
        input {
            margin-left: 10px;
            height: 29px;
            outline: none;
            width: 260px;
            border: none;
            background: none;
        }
        .search-btn {
            font-size: 18px;
            width: 30px;
            height: 30px;
            background: #666666;
            line-height: 26px;
            text-align: center;
            color: #fff;
            cursor: pointer;
        }
    }
}

.main {
    .main-right {
        width: 265px;
        .contribute {
            height: 375px;
            .title {
                width: 100px;
                height: 30px;
                border-radius: 4px;
                background: #6663ab;
                text-align: center;
                line-height: 30px;
                color: #fff;
                margin: 20px auto;
                border: 1px solid #afadd1;
                cursor: pointer;
            }
            .detail {
                cursor: pointer;
                color: #6663ab;
                background: #ededf9;
                width: 80px;
                height: 30px;
                border-radius: 4px;
                font-size: 14px;
                text-align: center;
                line-height: 30px;
                margin: 10px 5px;
            }
            .detail:nth-child(5),
            .detail:nth-child(8),
            .detail:nth-child(11),
            .detail:nth-child(14),
            .detail:nth-child(17) {
                margin-right: 0px;
            }
            .detail:nth-child(3),
            .detail:nth-child(6),
            .detail:nth-child(9),
            .detail:nth-child(12),
            .detail:nth-child(15) {
                margin-left: 0px;
            }
        }
        .hot {
            border: 1px solid #cccccc;
            padding-bottom: 20px;
            background: #fff;
            .title {
                width: auto;
                padding: 0 20px;

                height: 30px;
                background: #b2b2b2;
                color: #fff;
                line-height: 30px;
                a {
                    color: #fff;
                }
            }
            .detail {
                cursor: pointer;
                font-size: 12px;
                color: #666666;
                height: 50px;
                line-height: 50px;
                width: auto;
                margin: 0 20px;
                border-bottom: 1px dashed #d9d9d9;
            }
        }
    }

    .main-left {
        margin-top: 20px;
        background: #fff;
        padding: 18px 0;
        width: 875px;
        .top {
            height: 31px;
            width: auto;
            border-bottom: 1px solid #ececec;
            padding:0 18px;
            .hot,
            .new {
                width: 75px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                color: #666666;
            }
            .hot.h,
            .new.h {
                color: #6663ab;
                border-bottom: 2px solid #6663ab;
            }
            .page {
                width: 100px;
                height: 30px;
                .pageNum {
                    height: 30px;
                    line-height: 30px;
                    color: #666666;
                }
                .backPage,
                .nextPage {
                    border: 2px solid #d9d9d9;
                    height: 18px;
                    width: 18px;
                    line-height: 18px;
                    margin-top: 3px;
                    text-align: center;
                    cursor: pointer;
                }
                .nextPage {
                    margin-left: 10px;
                }
            }
        }
        .content {
            width: auto;
            height: 70px;
            padding: 20px 18px 0px 18px ;
            border-bottom: 1px dashed #ececec;
            .hot {
                width: 30px;
                height: 100%;
                text-align: center;
                color: #666666;
                font-size: 14px;
                padding-top: 6px;
            }
            .party {
                width: 50px;
                height: 45px;
                padding-top: 5px;
                background: #6663ab;
                text-align: center;
                color: #fff;
                font-size: 14px;
                margin: 0 30px;
            }
            .c-main {
                width: 420px;
                .writer,
                .time {
                    color: #b2b2b2;
                    font-size: 14px;
                }
                .time {
                    margin-left: 100px;
                }
                .m-detail {
                    margin-top: 12px;
                    font-size: 14px;
                    color: #666666;
                }
            }
            .about {
                width: 270px;
                margin-top: 15px;
                .detail {
                    cursor: pointer;
                    color: #6663ab;
                    background: #ededf9;
                    width: 80px;
                    height: 30px;
                    border-radius: 4px;
                    font-size: 14px;
                    text-align: center;
                    line-height: 30px;
                    margin: 10px 5px;
                }
            }
        }
        .content.h{
            background: #f7f7f7;
        }
        .pages {

            font-size: 14px;
            color: #666666;
            width: 950px;
            height: 30px;
            //            margin: 0 auto;
            margin: 80px 0 330px 190px;
            //            margin-bottom: 330px;
            .back,
            .next {
                width: 60px;
                height: 30px;
                border: 1px solid #d9d9d9;
                line-height: 30px;
                text-align: center;
            }
            .num {
                height: 30px;
                width: 30px;
                border: 1px solid #d9d9d9;
                line-height: 30px;
                text-align: center;
            }
            .num:nth-child(2) {
                background: #6663ab;
                color: #fff;
            }
            .num:nth-child(7) {
                border: none;
            }
            .jumpPage {

                width: 150px;
                height: 20px;
                line-height: 30px;

                .jumpNum {
                    margin-top: 5px;
                    width: 30px;
                    height: 100%;
                    border: 1px solid #d9d9d9;
                    position: relative;
                    input {
                        width: 19px;
                        height: 20px;
                        outline: none;
                        border: none;
                        position: absolute;
                        left: 0;
                    }
                    .numTop {
                        position: absolute;
                        top: 0px;
                        right: 0;
                    }
                    .numBottom {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                    .numTop,
                    .numBottom {
                        width: 10px;
                        height: 10px;
                        line-height: 10px;
                        cursor: pointer;
                        background: #e6e6e6;
                        text-align: center;
                    }
                    .numTop:hover,
                    .numBottom:hover {
                        background: #b2b2b2;
                        color: #666666;
                    }
                }
            }
            .btn {
                    width: 40px;
                    height: 20px;
                margin-top: 5px;
                border: 1px solid #d9d9d9;
                input{ 
                    background: none;
                    border: none;
                    outline: none;
                    width: 40px;
                    }
                
            }
        }
    }
}

.footer {
    //    margin-top: 330px;
    background: #333333;
    height: 350px;
    width: 100%;
    color: #6663ab;
    .f-main {
        width: 930px;
        margin: 0 auto;
        height: 275px;
        .call {
            color: #898989;
            margin-top: 85px;
            width: 146px;
            text-align: center;
            margin-right: 15px;
            a {
                font-size: 14px;
            }
        }

        ul {
            width: 160px;
            text-align: center;
            float: left;
            margin-top: 35px;
            font-size: 18px;
            li {

                a {
                    line-height: 35px;
                    font-size: 14px;
                }
            }
            li:nth-child(1) {
                margin-top: 15px;
            }
        }
        .attention {
            ul {
                width: 120px;
            }
            img {
                margin-top: 10px;
            }
        }
    }
    .f-bottom {
        width: 310px;
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
        color: #898989;
        line-height: 30px;
    }
}
